spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/safevault
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: false

  flyway:
    enabled: false

# Logging for development
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.ttt.safevaultbackend: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
