BACKEND_IMAGE=safevault-backend:latest
BACKEND_PORT=8080

DB_NAME=safevault
DB_USER=safevault
DB_PASSWORD=change_me_db_password

REDIS_PASSWORD=change_me_redis_password

JWT_SECRET=change_me_jwt_secret
JWT_RSA_PRIVATE_KEY=change_me_private_key
JWT_RSA_PUBLIC_KEY=change_me_public_key
MAIL_PASSWORD=change_me_mail_password
KEYSTORE_PASSWORD=change_me_keystore_password
